footer {
	/* background-color: var(--bg); */
	padding: 1rem;
	text-align: center;
}

.footer-content {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.footer-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.2rem;
}

.footer-logo-img {
	height: 24px;
}

.footer-links {
	display: flex;
	gap: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.footer-links a {
	color: var(--text);
	opacity: 0.8;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-links a:hover {
	color: var(--accent);
	opacity: 1;
}

/* .copyright {
  opacity: 0.6;
  font-size: 0.8rem;
} */

.footer-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.copyright {
	opacity: 0.6;
	font-size: 0.8rem;
	margin: 0;
}

/* Responsive on small screens */
@media (max-width: 560px) {
	.footer-bottom {
		flex-direction: column;
		gap: 0.5rem;
	}
}
